html,
body {
  height: 100%;
  width: 100%;
}
.line-height-18 {
  line-height: 1.8;
}
.block-it {
  display: block;
}
/*general box positioning classes*/
.virtual-backgroundlized {
  /*make sure the parent element is relative positioned, and have height and width*/
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
}
.hide {
  display: none;
}
.margin-top-0x {
  margin-top: 0px;
}
.margin-top-1x {
  margin-top: 6.25px;
}
.margin-top-5px {
  margin-top: 5px;
}
.margin-top-2x {
  margin-top: 12.5px;
}
.margin-top-3x {
  margin-top: 18.75px;
}
.margin-top-4x {
  margin-top: 25px;
}
.margin-top-8x {
  margin-top: 50px;
}
.margin-bottom-1x,
.row-space-1 {
  margin-bottom: 6.25px;
}
.margin-bottom-2x {
  margin-bottom: 12.5px;
}
.margin-bottom-3x {
  margin-bottom: 18.75px;
}
.margin-bottom-4x {
  margin-bottom: 25px;
}
.margin-bottom-8x {
  margin-bottom: 50px;
}
.marigin-right-1x {
  margin-right: 6.25px;
}
.margin-left-right-1x {
  margin-right: 6.25px;
  margin-left: 6.25px;
}
.margin-left-right-2x {
  margin-right: 12.5px;
  margin-left: 12.5px;
}
.margin-left-right-3x {
  margin-right: 18.75px;
  margin-left: 18.75px;
}
.margin-left-right-4x {
  margin-right: 25px;
  margin-left: 25px;
}
.padding-right-1x {
  padding-right: 6.25px;
}
.padding-left-right-0x {
  padding-left: 0;
  padding-right: 0;
}
.padding-left-right-1x {
  padding-left: 6.25px;
  padding-right: 6.25px;
}
/*general-purpose snippts */
.text-muted {
  color: #777;
}
a.cancel-color,
a.link-reset {
  color: inherit;
}
a.cancel-color:hover,
a.link-reset:hover {
  color: inherit;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.standard-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.standard-list > li > a {
  padding: 0px 10px;
  color: inherit;
}
.standard-list-horizontal > li {
  float: left;
}
.panel {
  border: 1px solid #dce0e0;
  margin-bottom: 0;
}
.panel .panel-body {
  position: relative;
  margin: 0;
  padding: 20px;
  border-top: 1px solid #dce0e0;
}
.panel .panel-body:first-child {
  border-top: 0;
}
.panel .panel-light {
  background-color: #fff;
}
/* for Debug use*/
.border-it-debug {
  border: 1px solid #000;
}
/*This part is for suojiansuode v0.04*/
/*This part is to make the editable*/
.editable,
.selectable {
  -webkit-transition: all 0.2s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
}
.editable:hover,
.selectable:hover {
  background-color: #baeeff;
}
.edit-field {
  -webkit-transition: all 0.2s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.2s;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 5px;
  color: #fff;
  background-color: #008cba;
  opacity: 0;
  text-align: center;
}
.edit-field:hover {
  opacity: 1;
}
.edit-button {
  padding: 5px 5px;
  float: left;
}
/*footer */
footer {
  background: #1a1a1a;
  color: #b3b3b3;
  padding-top: 40px;
  position: relative;
  z-index: 2;
}
footer .links li {
  color: #808080;
  -webkit-transition: all 0.3s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.3s;
}
footer .links li:hover {
  color: #00b2ed;
}
footer .title {
  margin-top: 0px;
}
footer .footer-col-inner .social {
  margin-top: 6.25px;
  margin-bottom: 12.5px;
}
footer .footer-col-inner .social li a {
  -webkit-transition: all 0.3s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.3s;
}
footer .footer-col-inner .social li a:hover {
  color: #00b2ed;
}
footer hr {
  border-top-color: #333333;
}
footer .download .download-list li {
  margin-bottom: 12.5px;
}
footer .download .download-list li .btn-ghost {
  opacity: 0.6;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 20px;
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.3s;
}
footer .download .download-list li .btn-ghost:hover {
  background: #4d4d4d;
  opacity: 1;
}
footer .contact .fa-lg {
  padding-top: 6.25px;
  height: 20px;
}
/*offset some unwanted bootstrap effect*/
.cancel-margin {
  margin: 0px;
}
.cancel-padding {
  padding: 0px;
}
.cancel-padding-tb {
  padding: 0px 12px;
  height: 25px;
}
html,
body {
  /*quickfix a width problem*/
  overflow-x: hidden;
}
#site-content {
  position: relative;
  height: calc(100% -  45px);
  height: -moz-calc(100% -  45px);
  height: -webkit-calc(100% -  45px);
  height: -ms-calc(100% -  45px);
  height: -o-calc(100% -  45px);
}
/*this one is going to overwrite previous results*/
@media (max-width: 768px) {
  #site-content {
    height: 90%;
  }
}
.filter-container {
  position: relative;
}
.filter-container .top-options {
  line-height: 30px;
}
.filter-container .top-options .top-option {
  cursor: pointer;
}
.filter-container .top-options .left-border {
  border-left: 1px solid #CCCCCC;
}
.filter-container .expanded-panel {
  z-index: 1;
  display: none;
  position: absolute;
  top: 30px;
  width: calc(100% +  30px);
  width: -moz-calc(100% +  30px);
  width: -webkit-calc(100% +  30px);
  width: -ms-calc(100% +  30px);
  width: -o-calc(100% +  30px);
}
.filter-container .expanded-panel .panel .next-year {
  color: #777;
  padding: 12px 14px;
  margin: 12px 0px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
.filter-container .expanded-panel .panel #btn-duration-reset,
.filter-container .expanded-panel .panel #btn-duration-set {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  margin-right: 12.5px;
  margin-left: 12.5px;
}
.filter-container .expanded-panel .panel .filter-month {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  color: #777;
  padding: 12px 14px;
  margin: 12px 0px;
  border-left: 1px solid #AAA;
}
.filter-container .expanded-panel .panel .filter-month.filter-month-selected {
  background-color: #008CBA;
  color: #fff;
  border-left: 1px solid #fff;
}
.filter-container .expanded-panel .panel .filter-month:first-child,
.filter-container .expanded-panel .panel .filter-month.filter-month-selected:first-child {
  border-style: none;
}
.filter-container .expanded-panel .panel .filter-month.filter-month-hovered {
  background-color: #eee;
}
.filter-container .expanded-panel .panel .checkbox,
.filter-container .expanded-panel .panel .radio {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.filter-container .expanded-panel .panel form {
  padding-bottom: 20px;
}
.filter-container .expanded-panel .panel form .form-group {
  margin-right: 20px;
}
@media (max-width: 768px) {
  .filter-container .top-options {
    line-height: inherit;
  }
  .filter-container .expanded-panel {
    top: 120px;
  }
}
.map-part-container.row {
  position: relative;
  height: calc(100% -  30px);
  height: -moz-calc(100% -  30px);
  height: -webkit-calc(100% -  30px);
  height: -ms-calc(100% -  30px);
  height: -o-calc(100% -  30px);
}
.map-part-container.row .col-sm-12 {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.map-part-container.row .col-sm-12 #mapcover {
  height: 100%;
  width: 100%;
}
.map-part-container.row .col-sm-12 #mapcover .easysubl-context-panel {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 3px 0px;
  cursor: default;
  padding: 6px 0px;
  width: 178px;
  z-index: 1;
}
.map-part-container.row .col-sm-12 #mapcover .easysubl-context-panel > .context-option {
  color: #333333;
  cursor: pointer;
  height: 25px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-top: 4px;
}
.map-part-container.row .col-sm-12 #mapcover .easysubl-context-panel > .context-option:hover {
  background-color: #f1f1f1;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div {
  /*specify color*/
  /*specify color*/
  /*specify color*/
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker {
  background-color: rgba(0, 255, 255, 0);
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker .content {
  cursor: pointer;
  color: #fff;
  padding: 0px 5px;
  font-size: 14px;
  min-width: 130px;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker .content a {
  text-decoration: none;
  color: inherit;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker .content a:hover {
  color: inherit;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker .remove-background {
  padding: 0px;
  margin: 0px;
  margin-top: -3px;
  height: 11px;
  /*since the height of svg is 8  8+3 == 11*/
  background-color: rgba(255, 255, 255, 0);
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker .remove-background svg {
  font-size: 8px;
  line-height: 8px;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker.rent .content {
  background-color: #FF5A5F;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker.rent .remove-background svg polygon {
  fill: #FF5A5F;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker.rent:hover .content {
  background-color: #252525;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker.rent:hover .remove-background svg polygon {
  fill: #252525;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker.lease .content {
  background-color: #008cba;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker.lease .remove-background svg polygon {
  fill: #008cba;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker.lease:hover .content {
  background-color: #252525;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker.lease:hover .remove-background svg polygon {
  fill: #252525;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker.co-lessee .content {
  background-color: #43ac6a;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker.co-lessee .remove-background svg polygon {
  fill: #43ac6a;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker.co-lessee:hover .content {
  background-color: #252525;
}
.map-part-container.row .col-sm-12 #mapcover #mapcover-map .gm-style div div .customized-marker.co-lessee:hover .remove-background svg polygon {
  fill: #252525;
}
@media (max-width: 768px) {
  .map-part-container.row {
    height: 100%;
  }
  .map-part-container.row .col-sm-12 {
    /*TODO: need to fix width bug here at small viewport*/
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}
