html {
	height:98%;
	overflow: hidden;
}
body {
	height: 100%;
}
#title-big-div,#map-div,#info-div ,#main_div {
	/*border: 1px dashed black;*/
}
/* start label kuang*/
#title-label-div{
	width:15%;
	height:99%;
	display:inline-block;
	font:normal normal normal 26px helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
	color:#FFF;
	background-color:#000;
	}
.title-options1,.title-options2{
	display:inline-block;
	text-align:center;
	font-family:open sans condensed,sans-serif;
	font-size: 18px ;
	color:#FFF;
	height:99%;
	}
	
.title-options1{
	width:10%;
	}
.title-options2{
	width:15%;
	}

#title-big-div{
	width:100%;
	height:5%;
	background-color:#000;
}
/*  end label kuang*/


/*start search conditions*/
.search-div{
	z-index:1;
	background-color:#ededed;
	color:#000;
	}
.search-div-padding {
	width:15%;
	display:inline-block;}
.search-div ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.search-div div {
	display:inline-block;
	
	}
.search-div div ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 30px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.search-div div ul li:hover {   /*change color */
  background: #555;
  color: #fff;
}
.search-div div ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
.search-div div ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
	z-index:1;
}
.search-div div ul li ul li input {
	background-color:#333;
	width:100%;
	border:1px solid #333;
	margin-bottom:5px;
	margin-left:-10px;
	}
.search-div div ul li ul li:hover { background: #666; }
.search-div div ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

#sql-bash {
	display:inline;
}

/*////// start travel search div //////*/

#travel-search-div {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 7px 10px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.travel-search-inputgrp-contrl {
	display:inline-block;
}
.travel-search-inputgrp-contrl  input {
	width:300px;
}
.travel-search-btn {
	font: bold 12px/18px sans-serif;


  color: #000;
  padding: 4px 25px 5px 15px;
  text-decoration: none;
}

.travel-search-btn:hover {

  text-decoration: none;
}

/*end search conditions*/



/* travel control panel div */
#travel-control-panel {
	position: absolute;
	top: 15%;
	left: 50%;
	margin-left: -180px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;	
	display:none;
}

/* end of travel control panel div*/


/**/
/**/

.poped-up-a{
	font-size:20px;
	}

#map-div{
	float:left;
	display:block;
	width:70%;
	height:89%;
	z-index:0;
	overflow:scroll;

}
#info-div{
	text-align:left;
  float:left;
  width:29%;
	height:89%;
	overflow: scroll;
}
.input-group-dimension-control{
 
	}
	.btn-cusom-contrl {
		width:10%;
	   margin-left:10%;
		display:inline-block;}
.input-group-dimension-control textarea{
	width:80%;
	margin-left:10%;
	margin-top:5%;

	}
.input-group-dimension-control div{
	margin-right:10%;
	margin-left:10%;
	margin-top:5%;
	}
#n-bdrm input, #n-btrm input {
	width:90%;
	}
#main_div {
	height:100%;
}
